
# Web Arayüzü
streamlit==1.32.0
streamlit-option-menu==0.3.12
hydralit_components==1.0.10

# Video İşleme
moviepy==1.0.3
ffmpeg-python==0.2.0
pydub==0.25.1  # Ses dönüştürme için ekledik

# Youtube video indirme
yt-dlp==2024.03.09

# Ses Tanıma ve İşleme
openai-whisper==20231114
soundfile==0.12.1
librosa==0.10.1

# Çeviri Servisleri
deepl==1.16.1
googletrans==3.1.0a0

# Ses Sentezi (TTS)
edge-tts==6.1.9

# Yüz Analizi ve Senkronizasyon
mediapipe==0.10.9
face-alignment==1.4.1

# Yardımcı Kütüphaneler
python-dotenv==1.0.0
numpy==1.24.3

# Torch (CPU Sürümü)
torch==2.2.0+cpu
torchaudio==2.2.0+cpu
